@import url('https://fonts.googleapis.com/css2?family=Borel&family=Fascinate&family=Indie+Flower&family=Instrument+Serif:ital@0;1&family=Lexend:wght@100..900&family=New+Rocker&family=Racing+Sans+One&family=Skranji:wght@400;700&family=Special+Elite&display=swap');
body {
    background-image: #2224B3;
    background-image: radial-gradient(circle, rgba(34, 36, 179, 1) 0%, rgba(70, 155, 252, 1) 100%);
    transition: background-color 0.5s ease;
    font-family: instrument serif;
    color: white;
    text-align: center;
    vertical-align: center;
    margin-top: 15vh;
}

#judge-button {
    width: 6rem;
    height: 2.4rem;
    border-radius: 8px;
    border-color: transparent;
    background-color: #585dfa;
    color: white;
    margin-left: 0.5rem;
    font-family: lexend;
}

#judge-button:hover {
    background-color: #4245fd;
    scale: 1.02;
}

body.me #retry-button {
    background-color: rgb(34, 36, 207);
    color: white;
    width: 6rem;
    height: 2.4rem;
    border-radius: 8px;
    border-color: transparent;
    font-family: lexend;
}

body.me #retry-button:hover {
    background-color: rgb(13, 16, 179);
    scale: 1.02;
}

body.kpop #retry-button {
    background-color: rgb(58, 30, 115);
    color: white;
    width: 6rem;
    height: 2.4rem;
    border-radius: 8px;
    border-color: transparent;
    font-family: lexend;
}

body.kpop #retry-button:hover {
    background-color: rgb(33, 11, 74);
    scale: 1.02;
}

body.basic #retry-button {
    background-color: #ff7aa2;
    color: white;
    width: 6rem;
    height: 2.4rem;
    border-radius: 8px;
    border-color: transparent;
    font-family: lexend;
}

body.basic #retry-button:hover {
    background-color: #e64879;
    color: white;
    scale: 1.02;
}

body.jazz #retry-button {
    background-color: #ffc63e;
    color: darkred;
    width: 6rem;
    height: 2.4rem;
    border-radius: 8px;
    border-color: transparent;
    font-family: lexend;
}

body.jazz #retry-button:hover {
    background-color: #dd9f0e;
    color: darkred;
    scale: 1.02;
}

body.hiphop #retry-button {
    background-color: #0A4663;
    color: white;
    width: 6rem;
    height: 2.4rem;
    border-radius: 8px;
    border-color: transparent;
    font-family: lexend;
}

body.hiphop #retry-button:hover {
    background-color: #023951;
    color: white;
    scale: 1.02;
}

body.spanishtrap #retry-button {
    background-color: #d52345;
    color: white;
    width: 6rem;
    height: 2.4rem;
    border-radius: 8px;
    border-color: transparent;
    font-family: lexend;
}

body.spanishtrap #retry-button:hover {
    background-color: #9c0d2c;
    color: white;
    scale: 1.02;
}

body.existential #retry-button {
    background-color: #C23110;
    color: white;
    width: 6rem;
    height: 2.4rem;
    border-radius: 8px;
    border-color: transparent;
    font-family: lexend;
}

body.existential #retry-button:hover {
    background-color: #951e03;
    color: white;
    scale: 1.02;
}

body.spanishrock #retry-button {
    background-color: #ed8043;
    color: white;
    width: 6rem;
    height: 2.4rem;
    border-radius: 8px;
    border-color: transparent;
    font-family: lexend;
}

body.spanishrock #retry-button:hover {
    background-color: #ea6d23;
    color: white;
    scale: 1.02;
}

body.chillrock #retry-button {
    background-color: #d85f0a;
    color: white;
    width: 6rem;
    height: 2.4rem;
    border-radius: 8px;
    border-color: transparent;
    font-family: lexend;
}

body.chillrock #retry-button:hover {
    background-color: #df5a13;
    color: white;
    scale: 1.02;
}

body.hyperock #retry-button {
    background-color: #d83a0a;
    color: white;
    width: 6rem;
    height: 2.4rem;
    border-radius: 8px;
    border-color: transparent;
    font-family: lexend;
}

body.hyperock #retry-button:hover {
    background-color: #df3813;
    color: white;
    scale: 1.02;
}

h1.existential {
    font-size: 3.5rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
    vertical-align: center;
}
h2 {
    font-size: 2rem;
    text-align: center;
    vertical-align: center;
}
p {
    font-size: 1.2rem;
    font-family: lexend;
    text-align: center;
    vertical-align: center;
}

body.hyperock {
    background: #942911;
    background: radial-gradient(circle, rgba(148, 41, 17, 1) 0%, rgb(58, 31, 30) 100%);
    color: #f3d9d9;
    font-family: new rocker;
}
body.basic {
    background: #FFE0E9;
    background: radial-gradient(circle, rgba(255, 224, 233, 1) 0%, rgba(245, 140, 168, 1) 100%);
    font-family: borel;
    color: #d90368;
}
body.me {
    background: #1E90FFFF;
    background: radial-gradient(circle, rgba(30, 144, 255, 1) 0%, rgba(45, 49, 250, 1) 100%);
    font-family: instrument serif;
}
body.existential {
    background: #ed8f13;
    background: radial-gradient(circle, rgba(237, 143, 19, 1) 0%, rgba(194, 49, 16, 1) 100%);
    font-family: special elite;
}
body.jazz {
    background: #cc0202;
    background: radial-gradient(circle, rgba(204, 2, 2, 1) 0%, rgb(255, 134, 69) 100%);
    color: #ffc63e;
    font-family: skranji
}
body.hiphop {
    background: #556B2FFF;
    background: radial-gradient(circle, rgba(85, 107, 47, 1) 0%, rgba(10, 70, 99, 1) 100%);
    font-family: indie flower
}
body.kpop {
    background: rgba(243, 196, 255, 10);
    background: radial-gradient(circle, rgba(243, 196, 255, 1) 0%, rgba(238, 190, 252, 1) 47%, rgba(204, 149, 230, 1) 100%);
    font-family: racing sans one;
    color: rgb(58, 30, 115)
}
body.techno {
    background: black;
    color: dodgerblue;
}

body.spanishrock {
    background: #d46719;
    background: radial-gradient(circle, rgba(212, 103, 25, 1) 0%, rgba(192, 93, 23, 1) 19%, rgba(183, 89, 22, 1) 23%, rgba(3, 0, 0, 1) 100%);;
    color: #f3ddca;
}
body.chillrock {
    background: #1A936F;
    background: radial-gradient(circle, rgba(26, 147, 111, 1) 0%, rgba(17, 75, 95, 1) 100%);
    color: #faeade;
}

body.spanishtrap {
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    color: #eddfff;
}

.spinner {
    border: 4px solid white;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 1rem auto;
    animation: spin 1s linear infinite;
}
@keyframes spin { 100% { transform: rotate(360deg); } }

input {
    background-color: white;
    font-family: lexend;
    width: 16rem;
    height: 2rem;
    border-radius: 8px;
    border-color: transparent;
}

#stickers {
    transform: none !important;
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
}

.sticker {
    pointer-events: auto;
    position: absolute;
    width: 13.5rem;
    opacity: 0;
    z-index: 20;
    height: auto;
    animation:
            popIn 0.4s ease forwards,
            float 4s ease-in-out infinite;
    padding: 0.5rem;
}


@keyframes popIn {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.sticker:hover {
    pointer-events: auto;
    transform: scale(1.2) rotate(3deg);
    opacity: 1;
}


.content {
    opacity: 1;
    transform: scale(1);
    transition:
        opacity 0.5s ease,
        transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: opacity, transform;
}

.content.fade-out {
    opacity: 0;
    transform: scale(0.95);
}

.content.fade-in {
    opacity: 0;
    transform: scale(1.05);
    animation: fadeIn 0.5s forwards cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(1.05);}
    to { opacity: 1; transform: scale(1);}
}